# Part1:  User Data Processing with Lists

In [4]:
data_tuple = [
    (1, 'Alisha Khan', 20, 'USA'),
    (2, 'David Smith', 34, 'Canada'),
    (3, 'Sara Ali', 22, 'UK'),
    (4, 'John Doe', 29, 'Germany'),
    (5, 'Emma Williams', 40, 'France'),
    (6, 'Michael Brown', 31, 'Italy'),
    (7, 'Sophia Johnson', 27, 'Spain'),
    (8, 'James Anderson', 45, 'Australia'),
    (9, 'Ava Wilson', 19, 'India'),
    (10, 'Ethan Lee', 38, 'Brazil'),
    (11, 'Mia Thompson', 23, 'USA'),
    (12, 'Alisha Khan', 35, 'Canada'),
    (13, 'Olivia Martin', 28, 'UK'),
    (14, 'Noah Harris', 41, 'Germany'),
    (15, 'Isabella Clark', 30, 'France'),
    (16, 'Lucas Robinson', 26, 'Italy'),
    (17, 'Amelia Lewis', 32, 'Spain'),
    (18, 'Benjamin Scott', 37, 'Australia'),
    (19, 'Ella Rodriguez', 21, 'India'),
    (20, 'Mason White', 39, 'Brazil'),
    (21, 'Chloe Hall', 24, 'USA'),
    (22, 'Alexander Young', 36, 'Canada'),
    (23, 'Charlotte King', 33, 'UK'),
    (24, 'Henry Wright', 42, 'Germany'),
    (25, 'Aiden Baker', 29, 'France'),
    (26, 'Sebastian Taylor', 30, 'Italy'),
    (27, 'Aria Moore', 22, 'Spain'),
    (28, 'Daniel Evans', 44, 'Australia'),
    (29, 'Grace Turner', 20, 'India'),
    (30, 'Samuel Gonzalez', 36, 'Brazil'),
    (31, 'Victoria Adams', 27, 'USA'),
    (32, 'Matthew Carter', 34, 'Canada'),
    (33, 'Scarlett Roberts', 25, 'UK'),
    (34, 'David Perez', 41, 'Germany'),
    (35, 'Zoe Stewart', 39, 'France'),
    (36, 'Logan Ramirez', 30, 'Italy'),
    (37, 'Lily Peterson', 23, 'Spain'),
    (38, 'Luke Campbell', 47, 'Australia'),
    (39, 'Natalie Parker', 18, 'India'),
    (40, 'Isaac Evans', 56, 'Pakistan'),
    (41, 'Aaliyah Sanders', 55, 'USA'),
    (42, 'Jayden Flores', 29, 'Canada'),
    (43, 'Eleanor Diaz', 33, 'UK'),
    (44, 'Gabriel Morales', 38, 'Germany'),
    (45, 'Emily Hernandez', 28, 'France'),
    (46, 'Jackson Brooks', 31, 'Italy'),
    (47, 'Levi Powell', 43, 'Spain'),
    (48, 'Luna Bailey', 46, 'Australia'),
    (49, 'Nolan Jenkins', 30, 'Brazil'),
    (50, 'Hannah Long', 32, 'Pakistan')
]

def func1(d):
    filtered_users = []
    names = []
    for i in range(len(d)):
        if d[i][2] >= 30 and (d[i][3] == 'USA' or d[i][3] == 'Pakistan'):
            filtered_users.append(d[i])
            names.append(d[i][1])
    print("Filtered Users:", filtered_users)
    print("Names:", names)

func1(data_tuple)
print()

def func2(d):
    sorted_data = sorted(d, key=lambda x: x[2], reverse=True)
    oldest_users = sorted_data[:10]
    print("Top 10 Oldest Users:", oldest_users)
    
    seen_names = set()
    duplicate_names = set()
    for user in d:
        if user[1] in seen_names:
            duplicate_names.add(user[1])
        else:
            seen_names.add(user[1])

    if duplicate_names:
        print("Duplicate Names:", list(duplicate_names))
    else:
        print("No Duplicate Names")

func2(data_tuple)

Filtered Users: [(40, 'Isaac Evans', 56, 'Pakistan'), (41, 'Aaliyah Sanders', 55, 'USA'), (50, 'Hannah Long', 32, 'Pakistan')]
Names: ['Isaac Evans', 'Aaliyah Sanders', 'Hannah Long']

Top 10 Oldest Users: [(40, 'Isaac Evans', 56, 'Pakistan'), (41, 'Aaliyah Sanders', 55, 'USA'), (38, 'Luke Campbell', 47, 'Australia'), (48, 'Luna Bailey', 46, 'Australia'), (8, 'James Anderson', 45, 'Australia'), (28, 'Daniel Evans', 44, 'Australia'), (47, 'Levi Powell', 43, 'Spain'), (24, 'Henry Wright', 42, 'Germany'), (14, 'Noah Harris', 41, 'Germany'), (34, 'David Perez', 41, 'Germany')]
Duplicate Names: ['Alisha Khan']

# Part 2: Immutable Data Management with Tuples
Inconsistent tuple sizes can lead to indexing errors and logical inconsistencies when accessing or processing data. This requires additional validation steps and can result in incorrect or incomplete results.There might be differrent position of ids and users in different tuples that will lead to inconsistencies in the esultant results.

In [5]:
transaction_records = [
    (1, 301, 1050.0, '2023-03-01'),
    (2, 202, 2100.0, '2023-03-02'),
    (3, 301, 3200.0, '2023-03-03'),
    (4, 404, 4300.0, '2023-03-04'),
    (5, 505, 5500.0, '2023-03-05'),
    (6, 202, 6600.0, '2023-03-06'),
    (7, 606, 7700.0, '2023-03-07'),
    (8, 303, 8800.0, '2023-03-08'),
    (9, 505, 9900.0, '2023-03-09'),
    (10, 707, 10100.0, '2023-03-10'),
    (11, 404, 11200.0, '2023-03-11'),
    (12, 202, 12300.0, '2023-03-12'),
    (13, 808, 13400.0, '2023-03-13'),
    (14, 606, 14500.0, '2023-03-14'),
    (15, 202, 15600.0, '2023-03-15'),
    (16, 909, 16700.0, '2023-03-16'),
    (17, 101, 17800.0, '2023-03-17'),
    (18, 404, 18900.0, '2023-03-18'),
    (19, 303, 20000.0, '2023-03-19'),
    (20, 606, 21100.0, '2023-03-20'),
    (21, 808, 22200.0, '2023-03-21'),
    (22, 101, 23300.0, '2023-03-22'),
    (23, 505, 24400.0, '2023-03-23'),
    (24, 909, 25500.0, '2023-03-24'),
    (25, 101, 26600.0, '2023-03-25'),
    (26, 202, 27700.0, '2023-03-26'),
    (27, 808, 28800.0, '2023-03-27'),
    (28, 606, 29900.0, '2023-03-28'),
    (29, 404, 31000.0, '2023-03-29'),
    (30, 101, 32100.0, '2023-03-30'),
    (31, 707, 33200.0, '2023-03-31'),
    (32, 808, 34300.0, '2023-04-01'),
    (33, 909, 35400.0, '2023-04-02'),
    (34, 101, 36500.0, '2023-04-03'),
    (35, 505, 37600.0, '2023-04-04'),
    (36, 202, 38700.0, '2023-04-05'),
    (37, 606, 39800.0, '2023-04-06'),
    (38, 909, 40900.0, '2023-04-07'),
    (39, 101, 42000.0, '2023-04-08'),
    (40, 404, 43100.0, '2023-04-09')
]

def unique_users(records):
    unique_users_list = []
    for transaction in records:
        if transaction[1] not in unique_users_list:
            unique_users_list.append(transaction[1])

    print(f"Number of unique users: {len(unique_users_list)}")

unique_users(transaction_records)
print()

def highest_transaction(records):
    sorted_transactions = sorted(records, key=lambda x: x[2], reverse=True)
    print(f"Transaction with the highest amount: {sorted_transactions[0]}")

highest_transaction(transaction_records)
print()

def separate_ids_and_users(records):
    transaction_ids = []
    user_ids = []
    for record in records:
        if record[0] not in transaction_ids:
            transaction_ids.append(record[0])
        if record[1] not in user_ids:
            user_ids.append(record[1])

    print(f"Transaction IDs: {transaction_ids}")
    print(f"User IDs: {user_ids}")

separate_ids_and_users(transaction_records)

Number of unique users: 10

Transaction with the highest amount: (40, 404, 43100.0, '2023-04-09')

Transaction IDs: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40]
User IDs: [301, 202, 404, 505, 606, 303, 707, 808, 909, 101]

# Part 3: Unique Data Handling with Sets

In [6]:
group_x = {21, 22, 23, 24, 25, 26}
group_y = {24, 25, 26, 27, 28, 29, 30}
group_z = {31, 32, 22, 25, 33}

def process_sets(x, y, z):
    print(x & y)
    print((x | y) - (x & y))

process_sets(group_x, group_y, group_z)
print()

def modify_sets(x, y, z):
    group_x.add(44)
    group_x.update([45, 46, 47])
    print(group_x)
  
    group_y.remove(24)
    group_y.difference_update([28, 29, 30])
    group_y.discard(28)  
    print(group_y)

modify_sets(group_x, group_y, group_z)

{24, 25, 26}
{21, 22, 23, 27, 28, 29, 30}

{21, 22, 23, 24, 25, 26, 44, 45, 46, 47}
{25, 26, 27}

# Part 4: Data Aggregation with Dictionaries

In [7]:
feedback_data1 = {
    101: {'rating': 3, 'comments': "Decent quality, but could be cheaper."},
    202: {'rating': 5, 'comments': "Fantastic! Would highly recommend."},
    303: {'rating': 1, 'comments': "Very disappointing."},
    404: {'rating': 4, 'comments': "Decent quality, but could be cheaper."},
    505: {'rating': 5, 'comments': "Fantastic! Would highly recommend."},
    606: {'rating': 2, 'comments': "Not up to the mark."}
}

feedback_data2 = {
    101: {'rating': 4, 'comments': "Reasonable price for quality."},
    202: {'rating': 4, 'comments': "Would still recommend, even after more use."},
    303: {'rating': 2, 'comments': "Did not improve over time."},
    707: {'rating': 5, 'comments': "Impressive product with high value."},
    808: {'rating': 3, 'comments': "Quality could be improved."},
    909: {'rating': 5, 'comments': "Exceeded my expectations!"}
}

def filter_feedback(data):
    high_ratings = []
    for user_id, feedback in data.items():
        if feedback['rating'] >= 4:
            high_ratings.append((user_id, feedback['rating']))
    high_ratings = dict(high_ratings)
    print(high_ratings)

filter_feedback(feedback_data1)
print()


def sort_feedback(data):
    sorted_data = sorted(data.items(), key=lambda x: x[1]['rating'], reverse=True)
    top_ratings = dict(sorted_data[:5])  # Fetch top 5 ratings
    print(top_ratings)

sort_feedback(feedback_data1)
print()


def merge_feedback(data1, data2):
    all_feedback = [data1, data2]
    merged_feedback = {}

    for feedback in all_feedback:
        for user, details in feedback.items():
            if user in merged_feedback:
                merged_feedback[user]["rating"] = max(merged_feedback[user]["rating"], details["rating"])
                merged_feedback[user]["comments"] += " " + details["comments"]
            else:
                merged_feedback[user] = details.copy()

    for user, details in merged_feedback.items():
        print(f"{user}: Rating = {details['rating']}, Comments = {details['comments']}")

merge_feedback(feedback_data1, feedback_data2)

{202: 5, 404: 4, 505: 5}

{202: {'rating': 5, 'comments': 'Fantastic! Would highly recommend.'}, 505: {'rating': 5, 'comments': 'Fantastic! Would highly recommend.'}, 404: {'rating': 4, 'comments': 'Decent quality, but could be cheaper.'}, 101: {'rating': 3, 'comments': 'Decent quality, but could be cheaper.'}, 606: {'rating': 2, 'comments': 'Not up to the mark.'}}

101: Rating = 4, Comments = Decent quality, but could be cheaper. Reasonable price for quality.
202: Rating = 5, Comments = Fantastic! Would highly recommend. Would still recommend, even after more use.
303: Rating = 2, Comments = Very disappointing. Did not improve over time.
404: Rating = 4, Comments = Decent quality, but could be cheaper.
505: Rating = 5, Comments = Fantastic! Would highly recommend.
606: Rating = 2, Comments = Not up to the mark.
707: Rating = 5, Comments = Impressive product with high value.
808: Rating = 3, Comments = Quality could be improved.
909: Rating = 5, Comments = Exceeded my expectations!