# 1. Initialize Temperature and Humidity Data

In [2]:
import numpy as np
np.random.seed(0)
temperature_data = np.random.uniform(-10, 40, (500, 365))
humidity_data = np.random.uniform(0, 100, (500, 365))

# 2. Check for Missing Data

In [3]:
mask = np.random.choice([True, False], size=temperature_data.shape, p=[0.05, 0.95])
temperature_data[mask] = np.nan
humidity_data[mask] = np.nan

missing_temperature = np.isnan(temperature_data).sum()
missing_humidity = np.isnan(humidity_data).sum()

print("Total missing entries in temperature_data:", missing_temperature)
print("Total missing entries in humidity_data:", missing_humidity)

Total missing entries in temperature_data: 9088
Total missing entries in humidity_data: 9088

# 3. Convert Temperature and Calculate Discomfort Index

In [4]:
temperature_data_fahrenheit = temperature_data * 9/5 + 32
discomfort_index = temperature_data + 0.55 * (1 - humidity_data / 100) * (temperature_data - 58)
discomfort_index = np.clip(discomfort_index, None, 80)

# 4. Analyze January Temperatures

In [5]:
january_data = temperature_data[:, :31]
january_avg_temp = np.nanmean(january_data)
print("Average January temperature across all locations:", january_avg_temp)

Average January temperature across all locations: 15.057905709791807

# 5. Identify Extreme Temperatures

In [6]:
temperature_data[temperature_data > 35] = np.nan
null_per_location = np.isnan(temperature_data).sum(axis=1)
print("Number of null values per location due to extreme temperatures:", null_per_location)

Number of null values per location due to extreme temperatures: [52 61 51 61 54 53 57 55 56 51 41 52 44 42 52 53 43 50 53 45 56 49 43 52
 54 53 66 60 45 49 55 53 57 48 43 61 41 45 56 51 60 62 51 43 57 58 49 57
 62 47 64 56 57 46 58 68 47 73 60 47 52 61 65 52 43 63 35 56 46 49 43 63
 58 53 41 50 49 61 43 59 66 58 44 55 63 57 50 45 46 55 43 50 49 46 45 51
 53 57 55 54 57 46 53 59 52 63 60 50 57 56 55 55 50 49 59 48 49 53 57 55
 60 48 53 44 56 56 54 48 52 49 47 45 52 51 49 48 52 62 54 64 53 58 38 52
 48 56 56 33 46 54 45 62 45 51 49 51 55 48 43 55 50 60 64 48 58 52 48 62
 41 53 36 63 53 58 46 53 49 50 45 41 68 51 49 55 60 50 56 64 52 56 51 52
 58 58 40 47 55 52 55 64 59 61 42 56 46 54 60 52 66 46 52 57 53 42 64 52
 58 58 55 49 52 64 50 54 61 53 50 49 45 39 45 53 46 61 50 62 58 60 49 51
 51 47 50 59 59 69 49 52 48 44 48 63 61 41 56 51 47 64 60 58 56 52 43 60
 54 49 47 52 59 60 53 53 50 53 51 53 63 64 50 63 48 48 65 54 58 55 71 51
 44 59 51 44 63 46 60 43 51 59 50 48 57 53 49 47 52 54 47 64 61 49 55 58
 48 58 52 53 53 49 61 49 64 50 64 52 57 51 52 58 54 51 52 49 55 38 52 55
 54 51 56 48 59 50 62 54 57 61 53 51 49 40 61 56 47 50 47 60 33 52 57 63
 51 40 46 59 45 41 48 43 55 57 62 63 52 64 50 64 48 42 40 57 57 65 49 58
 42 74 57 55 38 54 57 52 52 58 56 52 53 50 73 47 56 48 53 63 56 53 47 50
 70 49 51 61 53 51 41 48 53 53 62 60 47 49 48 49 46 42 45 59 49 55 45 50
 38 53 52 45 55 50 48 56 58 51 44 63 59 53 53 52 42 55 63 50 52 52 42 53
 57 54 60 48 67 55 41 48 66 57 39 53 51 55 52 50 53 50 53 62 44 50 59 52
 64 39 59 54 55 50 51 59 50 56 47 55 57 55 44 46 52 64 58 56]

# 6. Calculate Quarterly Temperature Averages

In [7]:
quarterly_data = temperature_data[:, :364].reshape(500, 4, 91)
quarterly_avg = np.nanmean(quarterly_data, axis=2)
print("Quarterly average temperatures for each location:\n", quarterly_avg)

Quarterly average temperatures for each location:
 [[11.31817555 14.44633514 11.66169602 10.35317935]
 [10.6039256  12.7002658  12.33682497 12.41836172]
 [11.8103234  13.29927529 12.44403298 11.3246437 ]
 ...
 [ 9.74635001 11.64427784 14.36179697 12.99081444]
 [11.81290054 12.73674978 14.89180279 13.18451207]
 [12.08930199 14.2550813  14.32264695 14.84522726]]

# 7. Classify Humidity Levels

In [8]:
dry_days = (humidity_data < 30).sum(axis=1)
humid_days = (humidity_data > 70).sum(axis=1)

print("Number of 'Dry' days per location:", dry_days)
print("Number of 'Humid' days per location:", humid_days)

Number of 'Dry' days per location: [ 96 112 105 105  93 123 102 104  97 102  93  99  86 126 106  93 100 107
 112 127 115  97 116 106  98 110  89  98 106 111 119  99  99  79 116 104
 106  98 115 106  95 109 103  98 103  92 111 106  98 107  89 107  88  95
 105 112 106 113  92 133  91 102  98 116  93 118 115 119 105  96  97 117
 110 110 102 108  99 121 112 110  92 107  93  97 104 105 101  96 122 110
 118 109 112 111 111 104 105  98 101 117  96 100 113 100 113 106 121 111
 101  94 100 109  94  92 111  91 113  94 111 116 107 122 110 109  94 111
  94 109 100 118 102 101 106 115  90 121 104 101 107 105 106  97 108 117
 105 110  94  97  93 107  99 105 113  98  92 124 100 105 101 105 101 103
  89 102  98 102 102 110  98 109 100 106 112 102 123 103  99 106  93 109
 108 106 113 109 111 108 103  98 101 104  93 110 102  92 109 113 115 104
 106 104 110 111 103 112  97 116  96 114 114 100 100 108  99 113 109 101
  94 106 106 113  99 102 116 103 116 104 113  88 110 110 107  97 101 110
 106  95 112 104 109 116 106  98 114 101 102 121 105 113 113  84 103  92
 102  99 100  97  98  97  97 102 105  98 111 120 125 124 113 102 114  87
 106 113 108 125  92 118 100 102 105 103 115 104 115  96 109 104  99  96
 109 120  99  96 110 104 104 104 111 102 101 103 113 100 104 109 103  99
 113 104 107 108 104 103 100 105 101 109 108 110 118 115 105 123 113 117
 104 112 103 117  91 106 119  99 124 111  86 113 105 103  97 108 109  97
 121 109 121 108  90 113  98 112 108 109 108  89 110 109 101  98 110  97
 108 101  93  99 130 108 119 113  94 111 106 105 113  98 107 103 105  99
 111 110  96 105 101  99 101 113  93 106  93 108  99  91 108  88 102 104
  97 108  98 103  99 120 102 107 103 115 106 116 116 106 109 102  96 110
 115  98  94  94 113 107 117 108 105  97 107 103 107 104 112  98 117 105
 117 119  94 101 105 112 100 107  93  89 117 101 118  91 111 123 101  83
  93 114 108  96 109 121 108  96 100 112 104 100 105 103 112  90 109 104
  91  95 104 117 115 104 100  92  99 117 111 101 115 102  98 100 103 113
 100 105  96 106 105 103  97 111 111 103 119 108  94 106]
Number of 'Humid' days per location: [110 110 116 103 114  94 109 106 103 114 108 113 112  85 109 110 111 107
 101  87  96 117  94  91  97  97 115  98  96  98 122 108 107 120  99  94
 101  98 113 108 100 108 104 118 114  95  87 105  99 110 123 109 117 105
  92  95 102 115 122  89 104  91 100  94 117  91 108 109 118 112 115  95
 106 103 108 103 117  92  92  81  98 105 110 114 113 103 107 105 100 103
 102 109 116 105  99 103 106  96 111  98 112  98  93  97 104 105 106 109
 106  99 110 103  96 106 108 111 102 123 107  97  98  96 109 101 106 100
 105 102 123  95 102 112  99  99 109  91 103  92  96 106 102 107  93 106
  97  96 101 102 105 104 115 102 109 114 103  98 101 103 109 115 100  97
 102  93 109  86  98  96 104 100 110 123  89 104  97  87  86 100 107  99
  95  82  94  95 100  91 100 107 105  94 103 104  91 107 107 101 100 104
 101 106 101  92 114 104 100  93 107  97  91  93 109  92 111 100  98 112
  97  96 107 100 111 107  95 113 113 102  91 102 100  93 104 111  94 109
  99 115  98  93 101 102 106 102 113 103  95 108 110 103 103 111  96 102
 121 114 105 109 101 105 114 100 109 107 100  97  86 104 105 107  97 110
  99  93 102  91  98  91 110 113 107 107  96 101  88  98 104 117 103 117
  94  98 111 112  98 103 111  94  94 103  96 109 103 109 119 100 104 104
 100  99 109  91  97 109  88 105 109 119 112 105 101  99 114  87  94 102
 103  99  99 105 100 104 105 109  82 101 108  87 108 105 110 102  97 101
 101 106  98 105 106 107 112 103 114 115 107 113  93 116 109  92  93 107
  98  99 106 110 107 100 102  99 116 105  96 107  93 107  95 102 119 101
 103 102 104 107 112 112  96  84  87 114 116 102 121  99  95 106 102 104
 104 115 102 107 103  95 112 110  93  91 102  98  91 102  97 104 105 115
  99 111 122 111  95 105  85 104 106 117 103 108 115 110 111 101  96  93
 103 103 105 101  91 116  96 100 109 115  92  88 103 118 108  95  99 122
  91  92 103 104  99  96 110 102 114  95  98 108 108  96 101 105 109 109
 101 109 107  95 106 104  93 101 117  97 104 103 110  97 118 105 114  98
 113 102  97  95  99  84 110 105 104 107  98  94  99 113]

# 8. Apply Daily Pressure Trend to Temperature Data

In [9]:
pressure_trend = 1 + 0.1 * np.sin(np.linspace(0, 2 * np.pi, 365))
temperature_adjusted = temperature_data * pressure_trend
print("Sample of adjusted temperature data:", temperature_adjusted[:5, :5])

Sample of adjusted temperature data: [[17.4406752  25.80393081 20.20767799 17.33341725 11.25989097]
 [12.93019809 26.25361918  9.98561401         nan 24.67028794]
 [15.05315864  8.83468071  8.2740524   3.06098747 14.90061142]
 [27.94922774 -9.16276395         nan 20.86032086 17.74352882]
 [        nan         nan 12.98079501 31.03246426 28.64864573]]